/* ------------------------------------ *\
  #Blocks
\* ------------------------------------ */

.block {
  padding-top: $bsu-lg;
  padding-bottom: calc($bsu-lg - $bsu);

  @media (--sm) {
    padding-top: $bsu-xl;
    padding-bottom: calc($bsu-xl - $bsu);
  }

  & + .block {
    padding-top: 0;
  }
}
