/* ------------------------------------*\
  #Buttons
\* ------------------------------------ */

.button {
  display: inline-block;
  font-family: $font-primary;
  font-size: 12px;
  letter-spacing: .05em;
  text-transform: lowercase;
  text-align: center;
  padding: .95em 2.5em .9em;
  border: 1px solid $grey1);
  border-radius: $radius);
  transition: color $trans), background-color $trans;
  background-color: $white);
  color: $grey1;

  &:matches(:hover, :focus) {
    background-color: $grey1;
    color: $white;
  }

  &--solid {
    background-color: $grey1;
    color: $white;

    &:matches(:hover, :focus) {
      background-color: $white;
      color: $grey1;
    }
  }
}
