/*------------------------------------*\
  #Icons
\*------------------------------------*/

.i-social {
  width: 20px;
  height: 20px;
  color: $grey1;
  transition: color $trans;

  &:hover {
    color: $highlight1;
  }
}
