/* ------------------------------------*\
  #Wrappers
\*------------------------------------ */

.wrapper {
  max-width: var(--bmw);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--bsu-lg);
  padding-right: var(--bsu-lg);

  @media(--sm) {
    padding-left: calc(var(--bsu-xl) + var(--column));
    padding-right: calc(var(--bsu-xl) + var(--column));
  }
}