/* ------------------------------------ *\
  #Global Variables
\* ------------------------------------ */

/**
 * Global Variables.
 */

:root {
  --white: #ffffff;
  --black: #000000;
  --grey1: #141414;
  --grey2: #c8c8c8;
  --highlight1: #AA022F;
  --highlight2: #D3B38B;

  /* Base Spacing Units */
  --bsu-sm: 10px;
  --bsu: 20px;
  --bsu-lg: 40px;
  --bsu-xl: 80px;
  --bsu-xxl: 160px;

  /* Base Max Width */
  --bmw: 1440px;
  --gutter: 40px;
  --column: calc(1 / 12 * 100%);

  /* Font */
  --font-primary: 'Palanquin', sans-serif;
  --font-secondary: 'Palanquin Dark', sans-serif;
  --font-tertiary: 'Yrsa', serif;

  /* Global */
  --main-page-bg: var(--white);
  --main-page-color: var(--grey1);
  --main-page-bg-selection: var(--highlight1);
  --main-page-color-selection: var(--white);

  /* Layers */
  --z1: 10;
  --z2: 20;
  --z3: 30;
  --z4: 40;
  --z5: 50;

  /* UI */
  --header-sm: 120px;
  --header-lg: 100%;
  --radius: 2px;

  /* Transition */
  --speed: .25s;
  --speed2: .5s;
  --ease: ease;
  --trans: .25s ease;
  --trans-in: cubic-bezier(0, 0, .2, 1);
  --trans-out: cubic-bezier(.4, 0, 1, 1);
  --trans-inout: cubic-bezier(.77, 0, .175, 1);
  --trans-bounce: cubic-bezier(.68, -.55, .265, 1.55);

}

/**
 * Breakpoints.
 */

/* Custom */
@custom-media --iphone only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait);
@custom-media --iphone678 only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait);
@custom-media --iphoneX and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait);

/* Normal */
@custom-media --xxs (width >= 400px);
@custom-media --xxsMax (width <= 399px);
@custom-media --xs (width >= 500px);
@custom-media --xsMax (width <= 499px);
@custom-media --sm (width >= 800px);
@custom-media --smMax (width <= 799px);
@custom-media --md (width >= 992px);
@custom-media --mdMax (width <= 991px);
@custom-media --lg (width >= 1200px);
@custom-media --lgMax (width <= 1199px);
@custom-media --bmw (width >= 1440px);
@custom-media --bmwMax (width <= 1439px);
@custom-media --xl (width >= 2000px);